@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* reusable variables */
:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  /* transition: 0.2s linear; */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 7%;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.7rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

/* HEADER */
.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo__img {
  height: 6rem;
}

.navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.header__icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 2rem;
}

.header__icons div:hover {
  color: var(--main-color);
  font-size: 2.5rem;
}

#menu-btn {
  display: none;
}

.search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 90%;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}

.search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}

.search-form label:hover {
  color: var(--main-color);
}

.cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
  padding: 0 1.5rem;
}

.cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.cart-item-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}

.cart-item-icon:hover {
  color: var(--main-color);
}

.cart-item-img {
  height: 7rem;
}
.cart-item-content {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.cart-items-price {
  font-size: 2rem;
  color: var(--main-color);
}

.checkout-btn {
  width: 100%;
  text-align: center;
}

.active-form {
  transform: scaleY(1);
}

.active {
  right: 0;
}

/*********** HOME SECTION ***********/

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("../images/home-img.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
}

.home-content {
  max-width: 60rem;
  padding-top: 12rem;
}

.home-title {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}

.home-description {
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

/*********** ABOUT SECTION ***********/
.row {
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
}

.about-image {
  flex: 1 1 45rem;
}

.about-image img {
  width: 100%;
}

.about-content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about-title {
  font-size: 3rem;
  color: #fff;
}

.about-description {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

/*********** MENU SECTION ***********/

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.box {
  padding: 5rem;
  text-align: center;
  border: var(--border);
}

.box:hover {
  background: #fff;
}

.box:hover > .box-title {
  color: var(--black);
}

.box-image {
  height: 10rem;
}

.box-title {
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.box-price {
  color: var(--main-color);
  font-size: 2rem;
  padding: 1rem 0;
}

.box-price span {
  font-size: 1.5rem;
  text-decoration: line-through;
}

/*********** MEDIA QUERIES ***********/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .active {
    right: 0;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home-content {
    padding-top: 4rem;
  }

  .home-title {
    font-size: 4rem;
  }

  .home-description {
    font-size: 1rem;
  }
}
